<script>

    import { scaleLinear } from 'd3-scale';
    export let data = []
    // so now transformed_data[week_nr] from App is the data in Week
    export let city_width;
    export let city_height;
    export let yScale;
    //export let xScale;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    $: thetaScale = scaleLinear().domain([0,364]).range([0, 2*Math.PI])

    // path of curve/plot
    let pathGenerator = (d) => {
        let xOff = 0;
        let yOff = 0;
        let path = "M " 
        d.forEach((value, idx) => {
            path += " " + yScale(value)*Math.cos(thetaScale(idx)) + "," + yScale(value)*Math.sin(thetaScale(idx))
        })
        path += " Z"
        return path;
    }

  </script>
  
{#each Object.keys(data) as doy, doy_idx}
    <!-- X & Y axes -->
    <line x1={city_width/2} y1={margin.top} x2={city_width/2} y2={city_height-margin.bottom} />
    <line x1={margin.left} y1={city_height/2} x2={city_width-margin.right} y2={city_height/2} /> 
    
    <!-- Axes labels -->
    <text x={city_width/2-3} y={margin.top-2} >0</text>
    <text x={city_width-8} y={city_height/2+4} >3</text>
    <text x={city_width/2-3} y={city_height} >6</text>
    <text x={margin.left-8} y={city_height/2+4} >9</text>
    
    <!-- Arrow and Month -->
    <defs>
    <path id="path-1" d="M140,25  Q 165,15 190,25" transform="rotate(45,165,15)"/>
    </defs>
    <text style="fill: var(--text-color);">
        <textPath xlink:href="#path-1">
          month
        </textPath>
      </text>
    <!-- Arrow -->
    <path d="M140,30  Q 165,20 190,30" transform="rotate(45,165,15)"/>
    <path d="M172,43 171,31" />
    <path d="M171,42 163,36" />

    <!-- Legend -->
    <g transform="translate(10,170)">
        <text class="heat" color='red'>heating</text>>
    </g>
    <g transform="translate(10,180)">
        <text class="cool" color='blue'>cooling</text>
    </g>
    <!-- Data Curves -->
    <g transform="translate({city_width/2},{city_height/2}) rotate(-90 0 0)" >
        <circle x={city_width/2} y={city_height/2} r={city_width/2-10} />
        <path class="cool" d={pathGenerator(data['cooling'])}  />
        <path class="heat" d={pathGenerator(data['heating'])}  />
        
        <!-- big circles for first day of the month -->
        {#each data['day'] as day, idx}
          {#if day === 1}
             <circle class="cool" cx={yScale(data['cooling'][idx])*Math.cos(thetaScale(idx))} cy={yScale(data['cooling'][idx])*Math.sin(thetaScale(idx))} r=1.5 />
             <circle class="heat" cx={yScale(data['heating'][idx])*Math.cos(thetaScale(idx))} cy={yScale(data['heating'][idx])*Math.sin(thetaScale(idx))} r=1.5 />
          {/if}
        {/each}
    </g>

{/each}

  
  
<style>
    text {
        font-size: 11px;
    }
    .heat {
        fill: rgb(175, 0, 0);
        font-size: 10px;
    }
    .cool {
        fill: rgb(0, 0, 236);
        font-size: 10px;
    }
    line {
        stroke: black;
        stroke-width: 0.5;
    }
    path {
        stroke: black;
        stroke-width: "1px";
        fill: none;
    }
    path.cool {
        stroke: rgb(0, 0, 224);
        fill: rgb(0, 0, 224);
        fill-opacity: 0.05;
    }
    path.heat {
        stroke: rgb(175, 0, 0);
        fill: rgb(175, 0, 0);
        fill-opacity: 0.05;
    }
    circle {
        stroke: black;
        fill: none;
    }
    circle.cool {
        stroke: rgb(0, 0, 236);
        fill: rgb(0, 0, 236);
    }
    circle.heat {
        stroke: rgb(175, 0, 0);
        fill: rgb(175, 0, 0);
    }
</style>