<script>
    import { extent } from 'd3-array';
    import { scaleLinear } from 'd3-scale';
    export let data = []
    export let yScaleAll;
    export let xScale;
    export let height;
    export let scale;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    $: indivScale = scaleLinear().domain(extent(data['total_heating_energy'])).range([1, height/21]);
</script>


{#each data['total_heating_energy'] as value, idx}
  {#if scale === 'All building types' }
      <rect x={xScale(idx)} y={20-yScaleAll(value)/2} width={xScale(744)/744} height={yScaleAll(value)} />
  {:else}
      <rect x={xScale(idx)} y={20-indivScale(value)/2} width={xScale(744)/744} height={indivScale(value)} />
  {/if}
{/each}

  
  
<style>
    rect {
        stroke: black;
        fill: black;
    }    
</style>