<script>
  import { scaleLinear, scaleLog } from 'd3-scale';
  import { extent } from 'd3-array';
	import { json } from "d3-fetch";
	import { onMount } from "svelte";
  import City from './_design_1_City.svelte';
  // Size and margins
  const width = 600;
  const height = 550;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  let city = ['Baltimore'];
  let cities = [
		'Baltimore',
		'Chicago',
		'Los Angeles'
	];
  $: scale = ['Within building type'];
  let scales = [
    'Within building type',
    'All building types',
  ];

  let datapoints = [];
	onMount(async () => {
		datapoints = await json("/data/hourly_heating_december.json");
  });

  let transformed_data = {}
	$: {
			datapoints.forEach((d) => {
				if ( !(d.city in transformed_data)) {
					transformed_data[d.city] = {};
				}
				if ( !(d.day in transformed_data[d.city])) {
					transformed_data[d.city][d.buildingtype] = [];
				}
				if ( !(d.total_heating_energy in transformed_data[d.city][d.buildingtype])) {
				    transformed_data[d.city][d.buildingtype]['total_heating_energy'] = []
				}

			})
			datapoints.forEach((d) => {
				transformed_data[d.city][d.buildingtype]['total_heating_energy'].push(d.total_heating_energy)
			})
	}

  $: yScaleAll = scaleLinear().domain(extent(datapoints.map((d) => d.total_heating_energy))).range([1, height/19]);
  
</script>

<p>
 <span>
   <h2>Heating Energy</h2>
 </span> 
 <span>
  <h2>December</h2>
</span>
<span>
  <h1>&nbsp</h1>
</span>
<span>
  <h1>&nbsp</h1>
</span>
  
<span>
<h1>Location</h1>
</span>
<span>
<div>

<div class="form-check">
  <input class="form-check-input" type="radio" bind:group={city} name="city" value="Baltimore" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Baltimore
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" bind:group={city} name="city" value="Chicago" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Chicago
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" bind:group={city} name="city" value="Los Angeles" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Los Angeles
  </label>
</div>

</div>
</span>
<span>
<h1>Scaling</h1>
<div>
<div class="form-check">
  <input class="form-check-input" type="radio" bind:group={scale} name="scale" value="Within building type" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Within building type
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" bind:group={scale} name="scale" value="All building types" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault2">
    All building types
  </label>
</div>

</div>
</span></p>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text x={width/2-70} y={margin.top} class="cool">{city}</text>
    <City data={transformed_data[city]} {scale} {width} {height} {yScaleAll} />
  </g>
</svg>

<style>
  p span {
  display: block;
  }
  h1 {
    color: rgb(66, 66, 66);
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h2 {
    color: rgb(66, 66, 66);
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cool {
        fill: rgb(66, 66, 66);
        font-size: 18px;
    }
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  label {
    color: black;
    stroke: black;
    fill: black;
    font-size: 14px;
    vertical-align: middle;
  }
  input {
    color: black;
    stroke: black;
    fill: black;
    vertical-align: baseline;
  }
  p {
     white-space: pre-line; /* collapse WS, preserve LB */
  }
</style>
