<div>
  <!-- svelte-ignore missing-declaration -->
  <h1>Section 1</h1>
  <h2>Section 2</h2>
  <h3>Section 3</h3>
  <h4>Section 4</h4>
  <h5>Section 5</h5>
  <h6>Section 6</h6>
  <h7>Section 7</h7>
  <!--
  <h8>Section 8</h8>
  <h9>Section 9</h9>
  <h10>Section 10</h10>
  <h11>Section 11</h11>
  <h12>Section 12</h12>
  <h13>Section 13</h13>
  -->
</div>
