<script>
    const me = {name:'Peter', likes: ['Pizza', 'Rock n Roll', 'Guitars', 'Ramen']}
</script>
<p>
    My name is {me.name} and these are some of my favourite things:
    <ul>
        <li>{me.likes[0]}</li>
        <li>{me.likes[1]}</li>
        <li>{me.likes[2]}</li>
        <li>{me.likes[3]}</li>
    </ul>