<script>
    const PI = 3.1415926535
    function circumference(r) {
      return (2*r*PI).toFixed(2);
    } 
</script>

<p>
    The circumference of a circle with radius 3 m is {circumference(3)} m
</p>