<script>
  import { onMount } from "svelte";
  // Properties
  export let indx = 0;
  $: run = false;
  $: year = indx+1800;

  export let data = [];
  let selected;
  export let conti = 'all';
  export const continents = ["europe", "asia", "americas", "africa"];

  function incrementIndex() {
    //I feel like I should use % but things went crazy when I used that, and page locked up.
		for (var j = 0; j <= 214; j++) {
      indx += 1;
      if (indx==215) { 
        indx=0;
        j = 0; }
    }
	}
  function stop() {
    clearInterval(indx);
    run=false;
  }
  
  function resetYear() {
    indx = 0;
    run=false;
  }
  function handleClick() {
		indx += 1;
    run= true;
	}

  onMount(async () => {
    var dataSelector = setInterval(function() {
      console.log("help")
    }, 1000);
  });

  $: data = {

  }



</script>

<div class="row">
  {#if !run}
    <button class="btn btn-primary btn-sm" on:click={handleClick()}>
      Start
    </button>
  {:else}
    <button class="btn btn-secondary btn-sm" on:click={stop()}>
      Stop
    </button>
  {/if}
  <button class="btn btn-primary btn-sm" on:click={resetYear()}>
    Reset
  </button>
  <label>
    <p>Year: {year}</p>
    <input type="range" class="slider" bind:value={indx} min=0 max=214>
  </label>

  <select bind:value={conti}>
    {#each continents as continent, i}
      <option value={continent}>
        {continent}
      </option>
    {/each}
  </select>
  <p> Index: {indx}</p>
  <p> Year: {year}</p>
  <p> Conti: {conti}</p>
  <p> Run: {run}</p>
  <p>I don't get it why don't my buttons work</p>
  <p>I also still don't understand how data is passed betweeen the three files here. There are too many things called 'data' It makes things very confusing and difficult to understand the code.</p>
</div>


