<script>
	let count = 0;

	function incrementCount() {
		count += 1;
	}

    function resetCount() {
        count = 0;
    }
</script>
<p>
<button on:click={incrementCount}>
	Clicked {count} {count === 1 ? 'time' : 'times'}
</button>
</p>

<p>
<button on:click={resetCount}>
	Reset to Zero!
</button>
</p>


<style>

    button {
        color: white;
        background-color: purple;
        font-family: math;
    }
    button:hover {
        color: black;
        background-color: yellow;
        font-family: math;
    }
    button:active {
        color: yellow;
        background-color: red;
        font-family: math;
    }



</style>