<script type="text/javascript">
  import { onMount } from "svelte";
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const offset = 30;
  // Arrays
  const points = [
    innerWidth / 2 - 2*offset,
    innerWidth / 2 - offset,
    innerWidth / 2,
    innerWidth / 2 + offset,
    innerWidth / 2 + 2*offset
  ];

  // All lights with a higher index are on!
  let index = points.length;
  onMount(async () => {
    var indexReducer = setInterval(function() {
      if (index >= 0)
      {
        index -= 1;
      } else {
        clearInterval(indexReducer)
      }
    }, 1000);
  });

</script>


  <svg viewBox="0 0 {width} {height}">
    <g transform="translate({margin.left},{margin.top})">
      {#each points as point, i}
        {#if i < index}
          <circle cx={point} cy={innerHeight / 2} r="10" fill='darkred' opacity=0.3/>
        {/if}
        {#if i >= index}
          <circle cx={point} cy={innerHeight / 2} r="10" fill='darkred' opacity=1.0/>
        {/if}
        {#if index<0}
          <circle cx={point} cy={innerHeight / 2} r="10" fill='darkgreen' opacity=1.0/>
        {/if}  
      {/each}
    </g>
  </svg>




