<script>
import { index } from "d3-array";

  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";
  $: indx = 0;
  $: conti = 'all';
  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={data[indx]['countries']} />
    <Controls {data} bind:indx={indx} bind:conti={conti}/>
  </div>
{/if}

