<script lang="ts">
  import { onMount } from 'svelte';
	import { scaleLinear } from 'd3-scale';
  import Data from './ex_7.svelte'
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  $: innerWidth = width - margin.left - margin.right;
  $: innerHeight = height - margin.top - margin.bottom;
  $: xScale = scaleLinear().domain([0, Data.length]).range([0,innerWidth]);
  $: yScale = scaleLinear().domain([0,3]).range([0,(innerHeight/2)]);
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <ul>

    </ul>
  </g>
</svg>

