<script type="text/javascript">
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  import { max, min } from 'd3-array';
  import { scaleLog } from 'd3-scale';
  // Dimensions
  const width = 800;
  const height = 100;
  const radius = 10;
  // Array
  const values = [2, 4, 6, 7, 9];
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const scale = scaleLog().domain([min(values),max(values)]).range([0,innerWidth]);
  function xAxis() {
    let axis = axisBottom(scale).tickSizeOuter(0);
	  let transform = `translate(0, ${innerHeight}-5)`;
  };
  
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
       <circle fill="purple" cx={scale(value)} cy=-5 r={radius} />
    {/each}
    
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>