<script>
  import { max, min } from 'd3-array';
  import { scaleLog, scaleOrdinal } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  // Dimensions
  const width = 800;
  const height = 100;
  const radius = 10;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const xscale = scaleLog().domain([2,9]).range([0,innerWidth]);
  const yscale = scaleLog().domain([1,3]).range([0,innerHeight]);
  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
       <circle fill={value.category} cx={xscale(value.x)} cy={yscale(value.y)} r={radius} />
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
