<script>
  // Note: Much help from https://svelte.dev/examples/bar-chart
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  import { max, min } from 'd3-array';
  import { scaleLog, scaleLinear, scaleOrdinal } from 'd3-scale';
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const yTicks = [0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0];


  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  
  function formatMobile(tick) {
		return "'" + tick.toString().slice(-2);
	};
  $: innerWidth = width - margin.left - margin.right;
  $: innerHeight = height - margin.top - margin.bottom;
  $: xScale = scaleLinear().domain([0, data.length]).range([0,innerWidth]);
  $: yScale = scaleLinear().domain([0,3]).range([0,(innerHeight/2)]);
  $: barWidth = innerWidth / data.length;
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!-- y axis -->
		<g class="axis y-axis">
			{#each yTicks as tick}
				<g class="tick tick-{tick}" transform="translate(0, {yScale(tick)})">
					<line x2="100%"></line>
					<text y="-4">{tick} {tick === 3 ? ' Viewers' : ''}</text>
				</g>
			{/each}
		</g>

		<!-- x axis -->
		<g class="axis x-axis">
			{#each data as dat, i}
				<g class="tick" transform="translate({xScale(i)},{height})">
					<text x="{barWidth/2}" y="-4">{width > 380 ? dat.service : formatMobile(dat.service)}</text>
				</g>
			{/each}
		</g>

		<g class='bars'>
			{#each data as dat, i}
				<rect
					x="{xScale(i) + 2}"
					y="{yScale(dat.viewers)}"
					width="{barWidth - 4}"
					height="{yScale(dat.viewers)}"
				></rect>
			{/each}
		</g>
  </g>
</svg>

<style>
	h2 {
		text-align: center;
	}

	.chart {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}

	svg {
		position: relative;
		width: 100%;
		height: 200px;
	}

	.tick {
		font-family: Helvetica, Arial;
		font-size: .725em;
		font-weight: 200;
	}

	.tick line {
		stroke: #e2e2e2;
		stroke-dasharray: 2;
	}

	.tick text {
		fill: #ccc;
		text-anchor: start;
	}

	.tick.tick-0 line {
		stroke-dasharray: 0;
	}

	.x-axis .tick text {
		text-anchor: middle;
	}

	.bars rect {
		fill: #a11;
		stroke: none;
		opacity: 0.65;
	}
</style>
