<script lang="ts">
  import scatterplot from './_ex_7_scatterplot.svelte';
  let datapoints = [];
  fetch("./static/data/gapminder.json")
      .then(res => res.json())
      .then(data => datapoints = data);
</script>
<div>
    <h1>Absolutely no clue! So lost!</h1>
    <h3>the instructions make no sense to me</h3>
    <h5>please go over how to do this so I can learn and get better</h5>
</div>



